/* styles.css */

/* Add styles here to customize the appearance of your app */
body {
  width: fit-content;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
}
.title-bar {
  display: flex;
}
.draggable {
  -webkit-app-region: drag;
}
